.detailContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}
.detailPay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 150px;
    align-items: start;
}


.form{
    display: flex;
    /* background-color: red; */
    flex-flow: row wrap;
    width: 500px;
    gap: 20px;
}

.inputForm{
    border: 1px solid rgb(210, 210, 210);
    padding: 5px 10px;
    font-size: 1.1em;
    border-radius: 5px;
}

.resumenCompra{
    margin-top: 20px;
    background-color: rgb(249, 249, 249);
    height: 300px;
    width: 260px;
    border-radius: 10px;
}

.resume{
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
}

.passenger{
    margin-top: 40px;
}

.datosComprador{
    margin-bottom: 100px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 30px;
}

.button{
    padding: 7px 0px;
    border-radius: 5px;
    border: 0;
    background-color: var(--primary);
    color: white;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
}