.services{
    padding: 20px 0px;
    width: 100%;
    height: fit-content;
    background: rgb(143,239,243);
background: linear-gradient(90deg, rgba(143,239,243,1) 0%, rgba(255,222,250,1) 55%, rgba(255,255,255,1) 78%);

}

.titleSection{
    /* text-align: center; */
    /* margin-bottom: 50px; */
    font-size: 6em;
    color:var(--primary);
    font-family: var(--font);
}

.header{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button2{
    border: 0;
    background-color: var(--primary);;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 1.1em;
    max-height: 60px;
    /* margin: 20px auto; */
    /* display: flex; */
    cursor: pointer;
    font-weight: 600;
}

.servicesContainer{
    display: flex;
    flex-flow: row wrap;
    padding: 0px 80px;
    gap: 100px;
    justify-content: center;
}


.service{
    width: 250px;
    height: 400px;
    /* background-color: red; */
}

.service:hover .img{
    scale:1.1
}

.img{
    width: 250px;
    display: flex;
    margin: 20px auto;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 10px 7px rgba(75, 75, 75, 0.217);
    transition: .3s;
}

.title{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.button{
    border: 0;
    background-color: var(--primary);;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 1em;
    margin: 20px auto;
    display: flex;
    cursor: pointer;
    font-weight: 600;
}