.profileContainer{
    display: flex;
    height: 100vh;
}

.nav{
    width: 20vw;
    height: 100vh;
    background-color: rgb(176, 176, 176);
    margin: 0;
    display: block;
}

.view{
    /* background-color: blue; */
    width: 100%;
}

.profile{
    display: flex;
    background-color: red;
    width: 350px;
    margin: 0 auto;
    justify-content: space-between;
}

.imgProfile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profileName{
    font-weight: 600;
    font-size: 1.2em;
}

.input{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: white;
    font-size: 1em;
    padding: 7px 15px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    /* background-color: white; */
    font-size: 1em;
    padding: 7px 15px;
    width: 100%;
}

.divisor{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.form{
    margin: 0 auto;
    background-color: rgb(255, 198, 198);
    width: fit-content;
}

.planContainer{
    background-color: blueviolet;
    width: 800px;
    height: 500px;
    margin: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.plan{
    width: 100%;
    min-height: 200px;
    background-color: red;
    border-radius: 20px;
}
