.modalContainer{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
    opacity: 0;
    animation: aparecer .25s ease-in-out forwards;
    z-index: 999;
}

.price{
  background-color: #8b85cf;
    padding: 3px 12px;
    border-radius: 5px;
    font-weight: 600;
    width: fit-content;
}

.modal{
    background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: fit-content;
  position: relative;
}

.title{
text-align: center;
}

@keyframes aparecer{
    100%{
        opacity:1
    }
}

.button{
  display: flex;
  margin: 0 auto;
  background-color: var(--primary);;
  padding: 3px 15px;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  border:0;
  font-size: 1.05em;
}

.desc{
  text-align: justify;
  padding: 10px 30px;
}

.imgC{
  width: 100%;
  object-fit: cover;
}

.imgContainer{
  width: 100px;
  height: 200px;
}

@media screen and (max-width:400px){
  .modal{
    max-width: 100vw;
    max-height: 200vh;
  }
}