body {
  margin: 0;
  font-family: "Fenix";
  overflow-x: hidden;
}

:root{
  --primary: #da66a5;
  --font: "Dancing Script";
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}